<footer>
    <div class="ui grey inverted padded center aligned segment" style="margin-bottom: 0px;margin-top:100px;">
        <h3 class="ui centered inverted header">{{'Footer.OrganizersSection' | _}}</h3>
        <div class="ui hidden divider"></div>
        <div class="ui seven column wide stackable centered grid">
            <div class="centered column"><img src="{{'assets/images/logos/inverted/1.png'|theme}}" class="ui centered image" alt=""></div>
            <div class="centered column"><img src="{{'assets/images/logos/inverted/2.png'|theme}}" class="ui centered image" alt=""></div>
            <div class="centered column"><img src="{{'assets/images/logos/inverted/5.png'|theme}}" class="ui centered image" alt=""></div>
            <div class="centered column"><img src="{{'assets/images/logo.png'|theme}}" class="ui centered image" alt=""></div>
            <div class="centered column"><img src="{{'assets/images/logos/inverted/4.png'|theme}}" class="ui centered image" alt=""></div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="ui divider"></div>

        <br>
        <small>{{'Footer.Impressum'|_}}</small>
        <br>
        <a href="#">© {{'Footer.CopyrightText'|_}}</a>
        <br>
        <small>{{'Footer.ContactInformation'|_}}</small>
        <br>
        <a href="mailto:wisam@point-iraq.org"> wisam[at]point-iraq.org </a> | <a href="https://www.facebook.com/pointconf.IQ"> facebook.com/pointconf.IQ </a> | <a href="www.gop-iraq.org"> www.gop-iraq.org </a> | <a href="www.pop-iraq.org"> www.pop-iraq.org </a>
    </div>
</footer>