{% for item in items if not item.viewBag.isHidden %}
    <div class="{{ item.items ? 'ui simple dropdown':'' }} item">
        <a class="{{item.items ? '':'linkAnimation'}}" href="{{ item.url ? item.url : "#" }}" {{ item.viewBag.isExternal ? 'target="_blank"' }}> {{ item.title | _ }} </a>
        {% if item.items and type != 'mobile' %}
            <i class="dropdown icon"></i>
            <div class="menu">
                {% partial "menu-items" items=item.items %}
            </div>
        {% elseif item.items %}
            <div class="ui divider"></div>
            {% partial "menu-items" items=item.items %}
        {% endif %}
    </div>
{% endfor %}